 {% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    
    <div class="form">
        {% if request.user.is_authenticated %}
        <div class="user-status">
            You are currently logged in as {{ request.user.username }}
        </div>
        {% endif %}
        <h2>Reset Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>Enter your email address to receive a password reset link.</p>
            <button type="submit">Reset Password</button>
        </form>
    </div>
    
</div>
{% endblock %}